:root {
  --color-primary: #EF2D91;
  --color-dark: #0F1A6E;
  --color-accent: #3FC93F;
  --color-orange: #F15A24;
  --color-magenta: #DA46AC;
  --color-light: #ffffff;
}
body {
  background-color: var(--color-light);
}
